.day{
    font-size: 2rem;
    color: transparent;
    padding: 10px;
}

.currentMonthDay{
    color :grey;
}

.currentDay{
    color:#eb1b57;
    border: 5px solid #eb1b57;
    border-radius: 50%;
    padding: 5px;
}