.btn{
    padding: 20px;
    background-color: #0f0;
    color: white;
    border-radius: 20%;
    font-size: x-large;
    margin: 10px;
    cursor: pointer;
}

.container{
    display: flex;
    flex-direction: column;
}

.colorDisplay{
    color: #0f0;
    text-align: justify;
}
